<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
   <title>Home Page</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="css/agency.min.css" rel="stylesheet">

</head>



  <!-- Header -->

  <!-- Header -->
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in">Bienvenue sur Gossip Project HomePage !</div>
        <div class="intro-heading text-uppercase">Vous allez trouver ci-dessous la liste des potins déjà crées !</div>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Crée ton potin dès maintenant !</a>
      </div>
    </div>
  </header>
  

    <p> <% params[:gossip_array].each do |gossip|  %> </p>
       <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2><%= link_to gossip.title , gossip_path(:id => gossip.id) %></h2>
            <p><%= link_to gossip.user.first_name , user_path(:id => gossip.user_id) %></p>
    <% end %>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->

  </html>